<!DOCTYPE html>
<html>
<head>
    <title>View files on Yandex.Disk</title>
</head>
<body>
<h1>View files on Yandex.Disk</h1>

<form method="post">
    {% csrf_token %}
    <input type="text" name="public_key" placeholder="Enter public link">
    <button type="submit">Show</button>
</form>
{% if files %}
<h2>Files list</h2>

<form method="post" id="filter">
    {% csrf_token %}
    <label>
        <select name="filter">
            {% for filter in filters %}
            <option value="{{filter}} ">{{filter}}</option>
            {% endfor %}
        </select>
        <input type="hidden" value="{{public_key}}" name="public_key">
    </label>
    <button type="submit">Apply</button>
</form>

<ul>
    {% for file in files %}
    <li>
        {{ file.name}}
        <a href="{{ file.file }}">Download</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>